@import "@/app/mixins.scss";

.pageHeader {
  width: 100%;
  height: auto;
  padding-top: 2rem;

  @include media-query("palm") {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media-query("lap") {
    padding: 4% 0 2.5% 3%;
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
}

.h1 {
  display: inline;
  margin-inline: 16px;

  @include media-query("palm") {
    display: block;
    margin-block: 0 16px;
  }

  a {
    font-size: $h3-size;
    color: #ffffff;
    text-decoration: none;
  }
}

.h2 {
  display: inline;
  font-size: $h4-size;
  color: rgba(255, 255, 255, 0.4);
  word-spacing: -0.1em;
  white-space: nowrap;

  @include media-query("palm") {
    display: block;
  }

  @include media-query("palm") {
    font-size: $h4-size;
  }
}
