---
title: Blue Space
---

<%= image_tag 'juegos/blue_space.gif', :alt => 'Blue Space' %>
<%= image_tag 'juegos/blue_space-2.gif', :alt => 'Blue Space' %>

<div id="descripcion-juego">
  <p>Controla tu nave por la pantalla esquivando meteoritos. Ayúdate del Satelite disparándole para que despliegue un escudo protector. </p>

  <p><b>Control</b>: <br />
    Usa las teclas de dirección para mover la nave.<br />
    Tecla <b>Shift</b> para disparar el láser.<br />
    Techa <b>Alt</b> para usar el turbo.</p>
</div>


<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/blue-space.swf", "swf-game", "677", "496", "9.0.0");
</script>