---
title: Blue Space
---

<%= image_tag 'juegos/blue_space.gif', :alt => 'Blue Space' %>
<%= image_tag 'juegos/blue_space-2.gif', :alt => 'Blue Space' %>

<div id="descripcion-juego">
  <p>Controla tu nave por la pantalla esquivando meteoritos. Ayúdate del Satelite disparándole para que despliegue un escudo protector. </p>

  <p><b>Control</b>: <br />
    Usa las teclas de dirección para mover la nave.<br />
    Tecla <b>Shift</b> para disparar el láser.<br />
    Techa <b>Alt</b> para usar el turbo.</p>
</div>


<!-- InstanceEndEditable -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="750" height="550">
    <param name="movie" value="swf/blue-space.swf">
    <param name="quality" value="high">
    <embed src="/swf/blue-space.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="750" height="550"></embed></object>
		