---
title: Columna
---

<%= image_tag 'juegos/columna.jpg', :alt => 'Columna' %>

<div id="descripcion-juego">
  <p>Estás muy enfadado y tienes una bonita, a la vez que inocente, columna a la que puedes golpear con toda tu fuerza..<br />
    <br />
    <b>Controles</b>: <br />
    Pulsa Espacio y mantenlo pulsado. Suéltalo para lanzar un golpe.</p>
</div>


<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="280" height="410">
  <param name="movie" value="/swf/columna.swf">
  <param name="quality" value="high">
  <embed src="/swf/columna.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="280" height="410"></embed></object>
		