---
title: Columna
---

<%= image_tag 'juegos/columna.jpg', :alt => 'Columna' %>

<div id="descripcion-juego">
  <p>Estás muy enfadado y tienes una bonita, a la vez que inocente, columna a la que puedes golpear con toda tu fuerza..<br />
    <br />
    <b>Controles</b>: <br />
    Pulsa Espacio y mantenlo pulsado. Suéltalo para lanzar un golpe.</p>
</div>


<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/columna.swf", "swf-game", "677", "496", "9.0.0");
</script>