---
title: Diana
---
<%= image_tag 'juegos/diana.jpg', :alt => 'Diana' %>

<div id="descripcion-juego">
  <p>Este es un juego simple en que debes acertar a las dianas (luces rojas) que van saliendo de detrás de las
    columnas.</p>

  <p><b>Controles</b>: <br/>
    Usa el ratón para apuntar y haz click para disparar. <br/>
  </p>
</div>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="566" height="433">
  <param name="movie" value="/swf/diana.swf">
  <param name="quality" value="high">
  <embed src="/swf/diana.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="566" height="433"></embed></object>
		