---
title: Diana
---
<%= image_tag 'juegos/diana.jpg', :alt => 'Diana' %>

<div id="descripcion-juego">
  <p>Este es un juego simple en que debes acertar a las dianas (luces rojas) que van saliendo de detrás de las
    columnas.</p>

  <p><b>Controles</b>: <br/>
    Usa el ratón para apuntar y haz click para disparar. <br/>
  </p>
</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/diana.swf", "swf-game", "677", "496", "9.0.0");
</script>