---
title: Juegos Flash - Newton
---

<%= image_tag 'juegos/newton.gif', :alt => 'Newton' %>
<%= image_tag 'juegos/newton-2.gif', :alt => 'Newton' %>

<div id="descripcion-juego">
  <p> Tienes una cestita que debes usar para ir recogiendo las manzanas que te caen de los árboles.<br />
    <br />
    <b>Control</b>: <br />
    Usa las teclas de dirección izquierda y derecha para moverte. Pulsa la tecla Arriba par abrir la cesta y así coger las manzanas. <br />
  </p>
</div>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="280" height="410">
  <param name="movie" value="/swf/newton.swf">
  <param name="quality" value="high">
  <embed src="/swf/newton.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="280" height="410"></embed></object>