---
title: Juegos Flash - Newton
---

<%= image_tag 'juegos/newton.gif', :alt => 'Newton' %>
<%= image_tag 'juegos/newton-2.gif', :alt => 'Newton' %>

<div id="descripcion-juego">
  <p> Tienes una cestita que debes usar para ir recogiendo las manzanas que te caen de los árboles.<br />
    <br />
    <b>Control</b>: <br />
    Usa las teclas de dirección izquierda y derecha para moverte. Pulsa la tecla Arriba par abrir la cesta y así coger las manzanas. <br />
  </p>
</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/newton.swf", "swf-game", "677", "496", "9.0.0");
</script>