---
title: Perfect Plato
---


<%= image_tag 'juegos/perfect_plato.jpg', :alt => 'Perfect Plato' %>
<%= image_tag 'juegos/perfect_plato-2.jpg', :alt => 'Perfect Plato' %>

<div id="descripcion-juego">
  <p>Dispara a los platos para ganar puntos.<br />
    No le dispares a los pájaros, pobrecitos ...</p>

  <p>
    <b>Controles</b>: <br />
    Usa el ratón para apuntar y haz Click para disparar.</p>

</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/perfect-plato.swf", "swf-game", "677", "496", "9.0.0");
</script>