---
title: Perfect Plato
---


<%= image_tag 'juegos/perfect_plato.jpg', :alt => 'Perfect Plato' %>
<%= image_tag 'juegos/perfect_plato-2.jpg', :alt => 'Perfect Plato' %>

<div id="descripcion-juego">
  <p>Dispara a los platos para ganar puntos.<br />
    No le dispares a los pájaros, pobrecitos ...</p>

  <p>
    <b>Controles</b>: <br />
    Usa el ratón para apuntar y haz Click para disparar.</p>

</div>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="700" height="535">
  <param name="movie" value="/swf/perfect-plato.swf">
  <param name="quality" value="high">
  <embed src="/swf/perfect-plato.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="700" height="535"></embed></object>

