---
title: Ping Pong
---

<%= image_tag 'juegos/pingpong.jpg', :alt => 'Ping Pong' %>
<%= image_tag 'juegos/pingpong-2.jpg', :alt => 'Ping Pong' %>

<div id="descripcion-juego">
  <p>Tennis!</p>
  <p><b>Control:</b></p>
  <h3>2 jugadores</h3>
  <p><strong>Jugador 1 &raquo;</strong></p>
  <p>Arriba /  Abajo (mover)</p>
  <p>Izquierda / Derecha (velocidad)<br />
  </p>
  <p><strong>Jugador 2 &raquo;</strong><br />
    W /  S (mover)</p>
  <p>A / D (velocidad)</p>
</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/ping-pong.swf", "swf-game", "677", "496", "9.0.0");
</script>


      