---
title: Ping Pong
---

<%= image_tag 'juegos/pingpong.jpg', :alt => 'Ping Pong' %>
<%= image_tag 'juegos/pingpong-2.jpg', :alt => 'Ping Pong' %>

<div id="descripcion-juego">
  <p>Tennis!</p>
  <p><b>Control:</b></p>
  <h3>2 jugadores</h3>
  <p><strong>Jugador 1 &raquo;</strong></p>
  <p>Arriba /  Abajo (mover)</p>
  <p>Izquierda / Derecha (velocidad)<br />
  </p>
  <p><strong>Jugador 2 &raquo;</strong><br />
    W /  S (mover)</p>
  <p>A / D (velocidad)</p>
</div>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="750" height="550">
  <param name="movie" value="/swf/ping-pong.swf">
  <param name="quality" value="high">
  <embed src="/swf/ping-pong.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="750" height="550"></embed></object>


      