<%= image_tag 'juegos/r-type.jpg', :alt => 'R-Type Contribute' %>

<div id="descripcion-juego">
  <p>De nuevo eres el piloto de la nave más famosa de los videojuegos clásicos. ¡Hazte valer!</p>

  <p><b>Control</b>:<br/>
    Usa las teclas de dirección para moverte.<br/>
    Pulsa espacio para disparar el láser y mantenlo pulsado para disparar un a carga <b>Super-Laser</b>.
  </p>

  <p>Con la tecla <strong>(A)</strong> harás aparecer enemigos.</p>
</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/r-type.swf", "swf-game", "677", "496", "9.0.0");
</script>