---
title: Tennis
---

<%= image_tag 'juegos/tennis.jpg', :alt => 'Tennis' %>
<%= image_tag 'juegos/tennis-2.jpg', :alt => 'Tennis' %>

<div id="descripcion-juego">
  <p>Enfrentate a un partido de tennis de entranamiento contra una maquina. Fácil.</p>
  <p><b>Controles</b>:</p>
  <p>Usa el ratón para controlar la raqueta y haz click para golpear la pelota.</p>
</div>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="750" height="572">
  <param name="movie" value="/swf/tennis.swf">
  <param name="quality" value="high">
  <embed src="/swf/tennis.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="750" height="572"></embed></object>
        