---
title: Tennis
---

<%= image_tag 'juegos/tennis.jpg', :alt => 'Tennis' %>
<%= image_tag 'juegos/tennis-2.jpg', :alt => 'Tennis' %>

<div id="descripcion-juego">
  <p>Enfrentate a un partido de tennis de entranamiento contra una maquina. Fácil.</p>
  <p><b>Controles</b>:</p>
  <p>Usa el ratón para controlar la raqueta y haz click para golpear la pelota.</p>
</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/tennis.swf", "swf-game", "677", "496", "9.0.0");
</script>