---
title: Tiro al Plato
---

<%= image_tag 'juegos/tiro-al-plato.jpg', :alt => 'Tiro al Plato' %>

<div id="descripcion-juego">
  <p>Dispara a los platos que van saliendo por la parte inferior de la pantalla.</p>

  <p><b>Control</b>:</p>

  <p>Usa el ratón para apuntar y haz click para disparar.</p>
</div>

<div id="swf-game"></div>

<script type="text/javascript">
    swfobject.embedSWF("/swf/tiro-al-plato.swf", "swf-game", "677", "496", "9.0.0");
</script>
		