.bodyAdmin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	margin-left: 4px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: #f5f5f5;
}

table,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
}
.campoAdmin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #004891;
	font-size: 7.5pt;
	background-color: #F1F3FA;
	height: 15px;
	border: 1px solid #32487C;
	padding-left: 3px;
}
.botonAdmin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;	
	color: #FFFFFF;
	font-size: 7.5pt;
	cursor: hand;
	background-color: #849ACE;
	border-top: 1px solid #849ACE;
	border-right: 1px solid #5B79BD;
	border-bottom: 1px solid #5B79BD;
	border-left: 1px solid #849ACE;
	height: 17px;
}
.areaAdmin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #004891;
	font-size: 7.5pt;
	background-color: #F1F3FA;
	border: 1px solid #32487C;
	padding-left: 3px;
}

A.blanco:visited {
	color:#ffffff;
	text-decoration: none;
} 
A.blanco:active {
	color:#ffffff;
	text-decoration: none;
} 
A.blanco:link {
	text-decoration: none;
	color:#ffffff;
} 
A.blanco:hover {
	color: #FFFFFF;
	text-decoration: none;
}


A.negro:visited {
	color:#000000;
	text-decoration: none;
} 
A.negro:active {
	color:#000000;
	text-decoration: none;
} 
A.negro:link {
	text-decoration: none;
	color:#000000;
} 
A.negro:hover {
	color: #000000;
	text-decoration: none;
}

	
a.aAdmin:active {
	text-decoration: none;
	color: #0066FF;
	font-weight: bold;
}
a.aAdmin:hover {
	color: #FF6600;
	text-decoration: none;
	font-weight: bold;
}
a.aAdmin:link {
	text-decoration: none;
	color: #003366;
	font-weight: bold;
}
a.aAdmin:visited {
	text-decoration: none;
	font-weight: bold;
}

.Error {color: #FF0000}
.Gris {color: #666666}
.CeldaActiva {
	color: #000000;
	background-color: #E5E9F4;
}
.CeldaInactiva {
	color: #DDDDDD;
	background-color: #FFFFFF;
}

.fondoAdmin {
	background-color: #E5E9F4;
}
.fondoOscuroAdmin {
	background-color: #849ACE;
}
.checkReg {
	height: 12px;
	width: 12px;
}
.botonApagadoAdmin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 7.5pt;
	background-color: #D5DCEA;
	height: 17px;
	border: 1px solid #f9f9f9;
}
.tituloazonaAdmin {
	font-size: 8pt;
	font-weight: bold;
	color: #7592BD;
}
.fondoOscuroCblancoAdmin {

	background-color: #849ACE;
	color: #FFFFFF;
}
.claseFila1 {
	background-color: #E9EDF5;
}
.claseFila2 {

	background-color: #FBFCFD;
}
.colorBlanco {
	color: #FFFFFF;
}
.checkPermisos {
	height: 10px;
	width: 10px;
}
.campoBuscarUsu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #004891;
	font-size: 7.5pt;
	background-color: #F1F3FA;
	height: 14px;
	border: 1px solid #32487C;
	padding-left: 4px;
	line-height: 10px;
}
.miniEditar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #FFFFFF;
	background-color: #849ACE;
	border: none;
}
