// ======
// MAIN
// ======

@import "@/app/mixins.scss";

.titulo {
  margin-bottom: 10px;
  color: #316ac5;
  font-weight: normal;
}

.pageBody {
  background-color: #ffffff;
}

.content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  @include media-query("desk") {
    width: 75%;
  }
}
