@import "@/app/mixins.scss";

.info {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;

  h2 {
    margin-bottom: 0.2em;

    color: #ffffff;
    font-family: $brand-face;
    font-size: $h1-size;
    line-height: 1.1em;
    font-weight: 400;
  }
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}

.footer {
  padding: 30px;
  background-color: #000;

  color: #999;
  font-size: 12px;
  font-style: italic;

  @include media-query("palm") {
    display: none;
  }
}

.slogan {
  font-family: $brand-face;
  font-size: $h3-size;
  font-weight: 400;
  font-style: italic;
  color: var(--brand-color-4);
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 70vh;
}
