<footer class="page-footer">

  <nav>
    <ul>
      <li><%= link_to 'Portafolio', 'portafolio.html', :title => 'Galería de trabajos realizados' %></li>
      <li><%= link_to 'Juegos', 'juegos.html', :title => 'Algunos juegos clásicos en Flash' %></li>
      <li><%= link_to 'Contacto', 'contacto.html', :title => 'Eh! contacta conmigo! ;-)' %></li>
    </ul>
  </nav>

  <p class="page-copy">&copy; Desde 2001 hasta hoy ;-)</p>

</footer>