<header class="page--header">
  <%= image_tag('estado-logico-logo-white.png', :alt => 'Estado Lógico', :class => 'logo') %>
  <h1><%= link_to 'Estado Lógico', '/', :title => 'Ir al inicio' %></h1>
  <h2>Desarrollo web</h2>
</header>