<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title><%= current_page.data.title || 'Estado Lógico' %></title>

  <!--[if lt IE 9]>
    <%= javascript_include_tag  'libs/respond','libs/html5shiv.js' %>
  <![endif]-->

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag  'application' %>
</head>