<div class="grid__item  palm-one-whole  lap-one-half  desk-one-third desk-wide-one-quarter">
  <div class="portfolio--item">
    <%= link_to image_tag(image), url, :class => 'portfolio--image' %>
    <%= link_to title, url, :class => 'portfolio--title' %>
    <p class="portfolio--description"><%= description %> </p>
  </div>
</div>