// Footer

.page-footer {
  padding: 1.5em;
  text-align: center;
  font-size: $h6-size;
  border-top: .3em solid #6F3802;


  ul{
    margin: 0;
  }
  li {
    margin: 0;
    display: inline;
    margin-right: 5px;
  }

  a {
    text-decoration: none;
    color: #CC8211;
  }

  .page-copy {
    color: darken($brand-color,15%);
  }
}