//======
// HOME
//======

@import "inuit.css/generic/_mixins.scss";

html.index .page-body{
  background-color: $brand-color-2;
}

.home--info{
  background: image-url('orange-bg.jpg') center center no-repeat;
  background-size: auto 100%;
  height: 418px;
  padding: 0 10%;

  @include media-query('palm'){
    height: 100%;
  }

  h2{
    margin-bottom: .2em;

    color: #ffffff;
    font-family: $brand-face;
    font-size: $h1-size;
    line-height: 0.9em;
    font-weight: 400;
  }

  .home--slogan {
    margin-bottom: .2em;

    font-family: $brand-face;
    font-size: $h3-size;
    font-weight: 400;
    font-style: italic;
    color: #DC7415;
  }

  .btn{
    font-family: $brand-face;
    line-height: 0.9em;
    margin-bottom: .2em;
    font-weight: 400;

    padding: 0.4em .8em;
    font-size: .8em;
    color: #FFF;
    background-color: $brand-color-2;
    text-decoration: none;
    &:hover{
      background-color: darken($brand-color-2, 9%);
    }
  }
}

.home--cover{
  height: 418px;
  margin: 0;
  background: image-url('tranvia-estadologico.jpg') center center no-repeat;
  background-size: auto 100%;
  strong{display: none;}

}