// ======
// MAIN
// ======

@import "../_vars";
@import "../inuit.css/generic/_mixins.scss";

html, body {
  height: 100%;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  background-color: #2A3C50;
  color: #666666;
}

.page-title {
  color: $brand-color;
  padding-bottom: 10px;
  font-family: $brand-face;
  font-weight: normal;
}

.titulo {
  margin-bottom: 10px;
  color: #316AC5;
  font-weight: normal;
}

.home--footer {
  padding: 30px;
  background-color: #000;

  color: #999;
  font-size: 12px;
  font-style: italic;

  @include media-query('palm'){
    display: none;
  }
}

.page-body{
  background-color: #FFFFFF;
  @extend .cf;

  @include media-query('palm'){
    height: 100%;
    max-height: 568px;
  }
}

.content {
  margin: 0 auto;
  //max-width: 1200px;
  max-width: 900px;
  height: 100%;
}

#menu {
  width: 728px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #A93F15;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #923512;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CD4B1B;

  li {
    display: inline;
  }
  a {
    text-decoration: none;
    color: #B1CADA;
    font-weight: normal;
    font-family: Tahoma;
    background-color: #32445A;
    margin-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
  }
  a:hover {
    background-color: #496485;
    color: #FFFFFF;

  }
}

// Helpers
.izquierda {
  float: left;
}

.derecha {
  float: right;
}

.block--padding{
  padding: $base-spacing-unit;
}

.list-games {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style-type: none;

  a {
    text-decoration: none;
    color: #C66F12;

    &:hover {
      color: #000000;
      background-color: #F3F1E9;
    }
  }

  li {
    margin-bottom: 2px;
  }

}

#sonic {
  float: left;
}

#cuerpo-juego {
  float: left;
  width: 677px;
  padding: 25px;

  img {
    padding: 6px;
  }
}

#descripcion-juego {
  padding: 10px;
  background-color: #F8F8F8;
  margin: 8px;
  width: 300px;
  border: 1px dashed #999999;
}

#base {
  width: 674px;
  clear: both;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  p {
    font-style: italic;
    color: #333333;
  }
}

#mascosas {
  float: left;
  width: 220px;
  padding: 25px;
  background-color: #DF710F;
  text-align: center;

  a {
    font-weight: normal;
    color: #EAEAEA;
    text-decoration: none;
  }

  strong {
    font-weight: bold;
    color: #F7F7F7;
  }
}