*{
	margin:0px;
	padding:0px;
}
p, h1, h2, h3 {
	margin-bottom: 15px;
}
li {
	margin-bottom: 3px;
}
.Borrar {
	display: block;
	clear: both;
	float: none;
}

html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	background-color: #2190C3;
	background-image: url(../arch/bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
h1 {
	font-size: 23px;
	color: #1D5995;
	font-weight: normal;
	font-family: Tahoma, Verdana;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E9E9E9;
	padding-bottom: 8px;
	background-image: url(../arch/adorno_titulo.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
/* Enlaces */
a:link {
	color: #1D5995;
}
a:visited {
	color: #12375C;
}
a:hover {
	color: #246FB9;
}
a:active {
	color: #E62D35;
}
/* -------------------- */
#Cuerpo {
	width: 779px;
	margin-right: auto;
	margin-left: auto;
}
#Cabecera {
	background-image: url(../arch/cabecera.gif);
	height: 103px;
	display: block;
}
#Cabecera #Logo {
	height: 87px;
	width: 69px;
	padding-top: 16px;
	padding-left: 10px;
	float: left;
}
/* Menu superior*/
#Cabecera #MenuSuperior {
	display: block;
	float: right;
	padding-top: 6px;
	color: #FFFFFF;
	padding-right: 20px;
	font-size: 11px;
}
#Cabecera #MenuSuperior a {
	color: #FFFFFF;
	text-decoration: none;
}
/* ------------------------------ */


/* Menú */
#Cabecera #Menu {
	font-size: 12px;
	display: block;
	width: 500px;
	float: left;
	padding-top: 54px;
	padding-left: 20px;

}
.invisible {
	display: none;
}

#Cabecera #Menu ul {
	margin: 0px;
	padding: 0px;

}
#Cabecera #Menu li {
	display: inline;
}
#Cabecera #Menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #6F9ABB;
	background-color: #1D5995;
	padding-top: 1px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 3px;
}
#Cabecera #Menu li a:hover {
	background-color: #2471BD;
}
/*------------------------*/
#Central {
	height: 126px;
	width: 754px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
}
#CajaASeccion {
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFFFFF;
	display: block;
	width: 754px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../arch/caja-arr.gif-);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #E1DFE0;
}
#CajaBSeccion {
	padding-top: 25px;
	padding-right: 30px;
	padding-bottom: 25px;
	padding-left: 30px;
	background-image: url(../arch/caja-aba.gif-);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#ColumnaIzq {
	width: 320px;
	float: left;
	display: block;
	margin-bottom: 20px;
}
#ColumnaDer {
	display: block;
	float: right;
	width: 370px;
	margin-bottom: 20px;
}
#ColumnaProductos {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 20px;
}
#ColumnaProductos h2 {
	font-size: 12px;
	margin-bottom: 2px;
	color: #A7945C;
	margin-left: 2px;
}
#ColumnaProductos img {
	margin-bottom: 6px;
}
#AnimaInicial {
	display: block;
	float: right;
	width: 500px;
	margin-top: 13px;
}


#TablaContacto {
	width: 275px;
}
#TablaContacto th {
	text-align: left;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
}

#TablaContacto .campo {
	border: 1px solid #CCCCCC;
	width: 278px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#TablaContacto .boton {

}

#Pie {
	background-color: #990000;
	width: 740px;
	height: 16px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../arch/pie.jpg);
	text-align: center;
	color: #E9DCDC;
	text-decoration: none;
	font-size: 11px;
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#Central2 {
	height: 66px;
	width: 754px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	background-image: url(../arch/central-portada2.jpg);
}
.texto_descripcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#Pie2 {
	width: 745px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	text-align: right;
	color: #E9DCDC;
	text-decoration: none;
	font-size: 11px;
	padding-right: 5px;
	padding-top: 3px;
}
#Pie2 a {
	color: #CCCCCC;
	font-weight: bold;
}
