@import "@/css/vars.scss";
@import "@/css/inuit.css/generic/mixins.scss";

.item {
  padding: 6%;
  margin-bottom: 12%;

  background-color: lighten($brand-color-2, 70%);
  @include vendor(transition, all 0.5s);
  @include vendor(box-shadow, 0 0 1px #fff);

  &:hover {
    background-color: #fff;
    @include vendor(transition, all 0.5s);
    @include vendor(box-shadow, 0 0 5px #bbb);
  }

  &:hover .portfolio--title {
    text-decoration: underline;
  }

  .portfolio--description {
    font-size: $h6-size;
  }
  &:hover .portfolio--description {
    color: #333;
  }
}

.image {
  display: block;
  width: 100%;
  margin-bottom: 0.2em;

  img {
    width: 100%;
    height: auto;
  }
}

.title {
  color: darken($brand-color, 2%);
  font-family: $brand-face;
  font-size: $h5-size;
  margin-bottom: 0.2em;
  text-decoration: none;
}
