/* ESTILOS CSS GENERALES*/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	background-repeat: repeat-y;
	background-position: center top;
}
h1 {
	letter-spacing: -.05em;
	margin: 0;
	padding: 0;
	line-height: 1em;
	display: inline;
}

h2 {
	letter-spacing: -.05em;
	margin: 0;
	padding: 0;
	line-height: 1em;
	display: inline;
}

h3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	letter-spacing: -.05em;
	margin: 0;
	padding: 0;
	line-height: 1em;
	display: inline;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
}

.resalte {
	border: 5px ridge #E4DED3;
	background-color: #FFFFFF;
	padding: 10px;
}

hr {
	border-top: 1px solid #000000;
}

A.blanco:visited {color:#ffffff;} 
A.blanco:active {color:#ffffff;} 
A.blanco:link {color:#ffffff} 
A.blanco:hover {color: #E6E6E6}

A.subseccion:visited {color:#91A40B;} 
A.subseccion:active {color:#91A40B;} 
A.subseccion:link {color:#91A40B} 
A.subseccion:hover {color: #A7BD0D}
 
A:visited {
	color:#000000;
	text-decoration:none;
} 
 A:active {
	color:#000000;
	text-decoration:none;
} 
A:link {
	color:#000000;
	text-decoration:none;
} 
A:hover {
	color: #FF9900;
}

ul {
	list-style-type: square;
	line-height: 10px;
}
.plantilla-tabla-foto{
	padding: 6px;
}

.titulo {
	color: #000100;
	font-weight: normal;
	height: 20px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #C3C407;
	font-size: 18pt;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.subtitulo {
	color: #941C12;
}

.campo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #A69C88;
	padding-left: 3px;
	vertical-align: middle;
}
.area {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #A69C88;
	padding-left: 3px;
	vertical-align: middle;
}
.bg_centro {
	background-image: url(/arch/bg_centro.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.boton_menu {
	background-color: #680001;
}
