@import "@/app/mixins.scss";

// Footer

.footer {
  padding: 1.5em;
  text-align: center;
  font-size: $h6-size;
  border-top: 0.3em solid var(--brand-color);

  small {
    font-size: $h6-size;
    color: var(--brand-color);
  }
}
