---
title: Home
---

<div class="home--info flexbox one-whole  desk-one-whole">

  <div class="flexbox__item">
    <h2 class="home__title">
      Front End Web developer
    </h2>

    <p class="home--slogan">The happiest people don't have the best of everything. They make the best of everything they have.</p>

    <%= link_to 'Show my works', 'portafolio.html', :title => 'Here are some examples in my gallery.', :class => 'btn' %>
  </div>

</div>

<!--<p class="home--cover one-whole"><strong>Un bonito tranvia</strong></p>-->

<div class="home--footer">
  <p> &#8220;Web design encompasses many different skills and disciplines in the production and maintenance of websites. The
    different areas of web design include web graphic design; interface design; authoring, including standardised code and
    proprietary software; user experience design; and search engine optimization. Often many individuals will work in
    teams covering different aspects of the design process, although some designers will cover them all.[1] The term web
    design is normally used to describe the design process relating to the front-end (client side) design of a website
    including writing mark up.&#8221;</p>
  &#8212; Wikipedia


</div>

