---
title: Inicio
---

<div class="home--info flexbox one-whole  desk-one-whole">

  <div class="flexbox__item">
      <h2 class="home__title">
        Servicios de <strong>Diseño Web</strong> y <strong>Programación</strong>.
      </h2>

      <p class="home--slogan">Los tiempos cambian... otra vez.</p>

      <%= link_to 'Ver portafolio', 'portafolio.html', :title => 'Galería de trabajos realizados', :class => 'btn' %>
  </div>

</div>

<!--<p class="home--cover one-whole"><strong>Un bonito tranvia</strong></p>-->

<div class="home--footer">
  <p> &#8220;El diseño web no solo aporta a la comunicación textual (contenidos) existente en Internet
    una faceta visual, sino que obliga a pensar una mejor estructuración de los mismos en un nuevo soporte. La unión de
    un buen diseñ´ con una jerarquía bien elaborada de contenidos aumenta la eficiencia de la web como canal de
    comunicación e intercambio de datos, que brinda posibilidades como el contacto directo entre el productor y el consumidor de
    contenidos, característica destacable del medio Internet.&#8221;</p>
  &#8212; Wikipedia
</div>
