---
title: Inicio
---

<div id="superior">

  <div id="descripcion">
    <p>Servicios de <strong>Diseño Web</strong><br />
      y <strong>Programación</strong>.</p>
  </div>

  <div id="sint">
    <p>Su información.<br />
      Nuestra tecnología.</p>
  </div>
</div>

<%= link_to image_tag('tranvia-estadologico.jpg'), 'portafolio.html' %>

<p class="pie-portada"> &#8220;El diseño web no solo aporta a la comunicación textual (contenidos) existente en Internet una faceta visual, sino que obliga a pensar una mejor estructuración de los mismos en un nuevo soporte. La unión de un buen diseñ´ con una jerarquía bien elaborada de contenidos aumenta la eficiencia de la web como canal de comunicación e intercambio de datos, que brinda posibilidades como el contacto directo entre el productor y el consumidor de contenidos, característica destacable del medio Internet.&#8221; &#8212; Wikipedia</p>