.menu {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  margin-top: 1rem;
  padding: 4px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-color: #a93f15;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #923512;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #cd4b1b;

  a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffffcd;
    background-color: #00000000;
    padding: 4px 12px;
    border-radius: 1rem;
    text-transform: uppercase;
  }

  a:hover {
    background-color: #0000002a;
    color: #ffffff;
  }
}
